{% extends 'base.html' %}

{% block content %}
<h1>Dashboard</h1>

You can compose
a <a href="{% url 'msg_compose_direct' %}">direct message</a>,
a <a href="{% url 'msg_compose_broadcast' %}">broadcast message</a>
and group message as well:

<ul>
{% for group in groups %}
    <li>
        {{ group.name }} #members quantity
        <a href="{% url 'msg_compose_group' group.pk %}">compose to all members</a>
    </li>
{% endfor %}
</ul>

<h2>Inbox ({{ inbox_count }} / {{ inbox_total_count }})</h2>

<ul>
{% for message in inbox %}
    <li>
        <a href="{% url 'msg_show' message.pk %}">{{ message.sender }} {{ message.subject }}</a>
        {{ message.datetime_created }}
        <form action="{% url 'msg_mark_as_read' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="message_pk" value="{{ message.pk }}">
            <input type="submit" value="mark as read"/>
        </form>
        <form action="{% url 'msg_delete' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="message_pk" value="{{ message.pk }}">
            <input type="submit" value="delete"/>
        </form>
    </li>
{% endfor %}
</ul>
<a href="{% url 'msg_inbox_list' %}">More</a>

<h2>Sent</h2>
See your <a href="{% url 'msg_sent_list' %}">sent messages</a>.
{% endblock %}
